.tabela {
  background: rgb(52, 124, 31) ;
  border: 1px solid black;
  color: white;
}

.cabeca {
  text-align: center;
}

td, th {
  border-bottom: 1px solid;
  text-align: center;
  vertical-align: center;
  height: 50px;
}

th {
  width: 150px;
}